header nav .logo, footer .descripe .top .container .Mleft, footer .descripe .top .container .Mright, footer .technology .container p:first-child {
  float: left; }

header nav .nav, footer .technology .container p:last-child {
  float: right; }

header nav, footer .descripe .top .container, footer .technology .container, .displayShow .contentBox {
  *height: 1%;
  *height: auto !important; }
  header nav:after, footer .descripe .top .container:after, footer .technology .container:after, .displayShow .contentBox:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden; }

.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

header nav .nav .infoNews ul, header nav {
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.container {
  width: 100%;
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto; }

html, body {
  width: 100%;
  height: 100%; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 21;
  height: 100px;
  font-size: 17px;
  font-weight: 500;
  border-bottom: 2px solid #d2b701;
  background: #fff; }
  header nav {
    height: 100%;
    line-height: 100px; }
    header nav .logo {
      width: 190px;
      height: 100%; }
      header nav .logo img {
        width: 100%;
        vertical-align: middle; }
    header nav .navBar {
      display: inline-block; }
    header nav .nav ul {
      padding: 0 30px; }
      header nav .nav ul li {
        display: inline-block;
        position: relative;
        padding: 0 30px; }
      header nav .nav ul a:hover {
        color: #d2b701; }
    header nav .nav .infoNews ul {
      opacity: 0;
      filter: alpha(opacity=0);
      padding: 0;
      position: absolute;
      bottom: -103px;
      left: 0;
      width: 100%;
      line-height: 50px;
      background: #fff; }
      header nav .nav .infoNews ul li:first-child {
        border-bottom: 1px solid #aaa; }
      header nav .nav .infoNews ul li.active {
        background: #d2b701; }
        header nav .nav .infoNews ul li.active a {
          color: #fff; }
      header nav .nav .infoNews ul li {
        background: #fff;
        opacity: .8; }
      header nav .nav .infoNews ul li:hover {
        background: #d2b701; }
        header nav .nav .infoNews ul li:hover a {
          color: #fff; }
    header nav .nav .infoNews:hover ul {
      opacity: 0.8;
      filter: alpha(opacity=80); }
    header nav .nav .navBtn {
      display: none; }
    header nav .nav form {
      display: inline-block;
      position: relative; }
      header nav .nav form input {
        display: none;
        position: absolute;
        padding: 6px;
        right: 0;
        bottom: -42px;
        border: 1px solid #aaa; }

footer .descripe {
  background: url(../images/footerBg.jpg) center top no-repeat; }
  footer .descripe .top {
    padding: 82px 0;
    border-bottom: 1px solid #d2b701; }
    footer .descripe .top .container .Mleft h4 {
      color: #d2b701;
      font-size: 18px; }
    footer .descripe .top .container .Mleft p {
      color: #fff;
      line-height: 26px; }
    footer .descripe .top .container .Mleft .adress {
      margin-top: -10px; }
    footer .descripe .top .container .Mright {
      margin-left: 96px; }
      footer .descripe .top .container .Mright .QR {
        display: inline-block;
        position: relative;
        width: 255px;
        margin-right: 20px;
        background-color: rgba(228, 228, 228, 0.65);
        zoom: 1;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99e4e4e4,endColorstr=#99e4e4e4); }
        footer .descripe .top .container .Mright .QR div {
          display: inline-block; }
          footer .descripe .top .container .Mright .QR div p {
            font-size: 16px;
            font-weight: 500;
            color: #b57701; }
          footer .descripe .top .container .Mright .QR div p:first-child {
            font-size: 22px;
            color: #b57701; }
        footer .descripe .top .container .Mright .QR .Qrimg {
          width: 100px; }
          footer .descripe .top .container .Mright .QR .Qrimg img {
            width: 100%;
            padding: 8px; }
        footer .descripe .top .container .Mright .QR .QrWord {
          position: absolute;
          right: 30px;
          top: 20px; }
        footer .descripe .top .container .Mright .QR .web {
          top: 30px; }
  footer .descripe .bottom ul li {
    display: inline-block;
    line-height: 98px;
    padding: 0 4px;
    color: #fff;
    font-size: 14px; }
    footer .descripe .bottom ul li a {
      color: #fff;
      font-size: 14px; }
footer .technology {
  background: #282828; }
  footer .technology .container p {
    color: #fff; }

@media (max-width: 930px) {
  .nav {
    position: relative !important; }
    .nav form {
      position: absolute !important;
      left: -30px;
      top: 6px; }

  .navBtn {
    width: 120px;
    line-height: 100px;
    display: block !important;
    overflow: hidden;
    text-align: center; }
    .navBtn img {
      padding-top: 30px;
      width: 40px; }

  footer .top {
    padding: 10px !important; }
    footer .top .Mleft, footer .top .Mright {
      float: none !important;
      width: 100% !important;
      box-sizing: border-box !important; }
    footer .top .Mright {
      margin: 0 !important;
      padding: 20px 0; }

  .bottom li {
    line-height: 30px !important; } }
@media (max-width: 414px) {
  .logo {
    width: 100px !important; }

  footer .QR {
    width: 150px !important; }
    footer .QR .Qrimg {
      width: 60px !important; }
    footer .QR .QrWord {
      right: 5px !important;
      top: 15px !important; }
      footer .QR .QrWord p {
        font-size: 12px !important; }
  footer .Mright {
    padding: 0 !important; } }
.displayShow {
  margin-top: 100px; }
  .displayShow .h2Header {
    font-size: 20px; }
  .displayShow .contentBox .left, .displayShow .contentBox .right {
    float: left; }
    .displayShow .contentBox .left .Word h2, .displayShow .contentBox .right .Word h2 {
      font-size: 20px;
      padding: 0 20px 10px 0;
      color: #d2b701;
      border-bottom: 1px solid #ececec; }
    .displayShow .contentBox .left .Word p, .displayShow .contentBox .right .Word p {
      font-size: 17px;
      padding: 10px 20px;
      border-bottom: 1px solid #ececec; }
    .displayShow .contentBox .left .qrImg .qrImgList, .displayShow .contentBox .right .qrImg .qrImgList {
      width: 100%;
      max-width: 160px;
      margin-top: 10px; }
      .displayShow .contentBox .left .qrImg .qrImgList img, .displayShow .contentBox .right .qrImg .qrImgList img {
        width: 100%; }

.head {
  width: 100%;
  margin-top: 100px; }
  .head img {
    width: 100%; }

.display .container {
  margin: 40px auto;
  max-width: 850px; }
  .display .container .right {
    float: right !important; }
.display .displayShow .h2Header {
  margin-bottom: 30px; }
.display .active {
  color: #f5a738 !important; }
.display .product {
  color: #d2b701; }
.display .right {
  width: 70%;
  max-width: 860px; }
  .display .right img {
    width: 100%; }
  .display .right h2 {
    font-size: 24px;
    padding-bottom: 20px; }
  .display .right p {
    padding-top: 20px;
    line-height: 30px;
    font-size: 16px; }

@media (max-width: 500px) {
  .contentBox .right {
    width: 100% !important; }
  .contentBox .left {
    width: 100% !important; } }

/*# sourceMappingURL=aboutUs.css.map */
