@import "sassFn";
$mianColor:#d2b701;
$bgColor:#fdfff7;
$borderColor:#bdbdbd;
$darkColor:#b57701;
$fontColor:#868686;
.container{
  width: 100%;
  max-width: 1180px;
  padding: 0 10px;
  @extend %box-sizing;

  margin: 0 auto;
}
html,body{
  width: 100%;
  height: 100%;
}
//header
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 21;
  height: 100px;
  font-size: 17px;
  font-weight: 500;
  border-bottom: 2px solid $mianColor;
  background: #fff;
  nav{
    height: 100%;
    line-height: 100px;
    @extend %clearfix;

    .logo{
      width: 190px;
      height: 100%;
      @extend %fl;
      img{
        width: 100%;
        vertical-align: middle;
      }
    }

    .navBar{
      display: inline-block;
    }
    .nav{
      @extend %fr;
      ul{
        padding: 0 30px;
        li{
          display: inline-block;
          position: relative;
          padding: 0 30px;
        }
        a:hover{
          color: $mianColor;
        }
      }
      .infoNews{
        //二级菜单
        ul{
          //display: none;
          @include opacity(0);
          @extend %transition;

          padding: 0;
          position: absolute;
          bottom: -103px;
          left: 0;
          width: 100%;
          line-height: 50px;
          background: #fff;
          li:first-child{
            border-bottom: 1px solid #aaa;
          }
          li.active{
            background: $mianColor;
            a{
              color: #fff;
            }
          }
          li{
            background: #fff;
            opacity: .8;
          }
          li:hover{
            background: $mianColor;
            a{
              color: #fff;
            }
          }
        }
        &:hover{
          ul{
            //display: block;
            @include opacity(80);
          }
        }
      }
      //菜单按钮隐藏
      .navBtn{
        display: none;
      }
      form{
        display: inline-block;
        position: relative;
        input{
          display: none;
          position: absolute;
          padding: 6px;
          right: 0;
          bottom: -42px;
          border: 1px solid #aaa;
        }
      }
    }
    @extend %transition;
  }
}


footer{
  .descripe{
    background: url(../images/footerBg.jpg) center top no-repeat;
    .top{
      padding: 82px 0;
      border-bottom: 1px solid $mianColor;
      .container{
        @extend %clearfix;
        .Mleft,.Mright{
          @extend %fl;
        }
        .Mleft{
          h4{
            color: $mianColor;
            font-size: 18px;
          }
          p{
            color: #fff;
            line-height: 26px;
          }
          .adress{
            margin-top: -10px;
          }
        }
        .Mright{
          margin-left: 96px;
          .QR{
            display: inline-block;
            position: relative;
            width: 255px;
            margin-right: 20px;
            background-color: rgba(228,228,228,0.65);
            zoom: 1;
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99e4e4e4,endColorstr=#99e4e4e4);
            div{
              display: inline-block;
              p{
                font-size: 16px;
                font-weight: 500;
                color: $darkColor;
              }
              p:first-child{
                font-size: 22px;
                color: $darkColor;
              }
            }
            .Qrimg{
                width: 100px;
                img{
                  width: 100%;
                  padding: 8px;
                }
            }
            .QrWord{
                position: absolute;
                right: 30px;
                top: 20px;
            }
            .web{
              top: 30px;
            }
          }
        }
      }
    }
    .bottom{
      ul{
       li{
         display: inline-block;
         line-height: 98px;
         padding: 0 4px;
         color: #fff;
         font-size: 14px;
         a{
           color: #fff;
           font-size: 14px;
         }
       }
      }
    }
  }

  .technology{
    background: #282828;
    .container{
      @extend %clearfix;
      p{
        color: #fff;
      }
      p:first-child{
        @extend %fl;
      }
      p:last-child{
        @extend %fr;
      }
    }
  }
}

@media (max-width: 930px){
  .nav{
    position: relative!important;
    form{
      position: absolute!important;
      left: -30px;
      top: 6px;
    }
  }
  .navBtn{
    width: 120px;
    line-height: 100px;
    display: block!important;
    overflow: hidden;
    text-align: center;
    img{
      padding-top: 30px;
      width: 40px;
    }
  }

  .navList{
    height: 0;
    //overflow: hidden;
    margin-top: -14px;
    padding: 0 !important;
    -webkit-transition: 1s all ease !important;
    transition: 1s all ease !important;
    li{
      width: 120px;
      padding: 0!important;
      text-align: center;
      background: rgba(255,255,255,0.85);
      border: 1px solid $borderColor;
      display: block!important;
      line-height: 50px;
    }
    .infoNews{
      ul{
        top:0!important;
        left: -102%!important;
        height: 104px;
      }
    }
    .infoNews:hover{
    }
    &.active{
      height: 260px;
    }
  }
}