.head{
  width: 100%;
  margin-top: 100px;
  img{
    width: 100%;
  }
}
.display{
  .container{
    margin: 40px auto;
    max-width: 850px;
    .right{
      float: right!important;
    }
  }
  .displayShow{
    .h2Header{
      margin-bottom: 30px;
    }
    .left{
      width: 60%;
      max-width: 540px;
      padding-left: 80px;
      //@extend %box-sizing;
      img{
        width: 100%;
      }
    }
  }
}

@media (max-width: 750px){
  .contentBox{
    .left{
      padding-left: 0!important;
    }
  }
}

@media (max-width: 414px){
  .contentBox{
    .left{
      padding-left: 0!important;
      width: 100%!important;
    }
    .right{
      display: none;
    }
  }
}