@charset "utf-8";

/************************************** reset ***********************************************/

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html{ color:#000;background:#FFF; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;color: #656565;}

/* 去掉列表前的标识, li 会继承 */
menu, ol, ul , li{ list-style: none; }

/* 要注意表单元素并不继承父级 font 的问题 */
body, button, input, select, textarea, option, optgroup { font:12px/1.5 "microsoft yahei", "微软雅黑", Yahei , \5b8b\4f53, sans-serif; }

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:500; }

/* 去除默认边框 */
fieldset , img { border:0 }

/* 去掉各Table  cell 的边距并让其边重合 */
table { border-collapse: collapse; border-spacing: 0; }

/* 统一上标和下标 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym{ border:0;font-variant:normal; }

/* 表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea{ font:12px/1.5 "microsoft yahei", "微软雅黑",\5b8b\4f53; }
input,select,textarea,button{ font-size:100%; }

/* 清除输入框边框 */
input{ border:0 none; }


code, kbd, pre, samp { font-family:'courier new',courier,monospace;}
abbr[title]{ border-bottom: 1px dotted; cursor: help; }

/* 一致的 del 样式 */
del { text-decoration:line-through; }
address,caption,cite,code,dfn,em,th,var { font-style:normal;font-weight:500; }

/* IE bug fixed: th 不继承 text-align*/
th{ text-align:inherit;}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article, aside, dialog, footer, header, section, footer, nav, figure, menu { display:block; }

/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video { display: inline-block;*display: inline;*zoom: 1; }

/*清除chrome Safari浏览器中的外边框*/
input,button,select,textarea { outline:none }

/* ie6 7 8(q) bug 显示为行内表现 */
iframe{ display:block; }

/* IE6下默认不缓存背景图片 */
.zoom { *zoom: 1; }
html {
    zoom:expression(function(ele) {
          ele.style.zoom = "1";
          document.execCommand("BackgroundImageCache", false, true);
     }
     (this));
}
body{
    font-family:Microsoft yahei;
}
a{text-decoration: none;-webkit-tap-highlight-color: transparent;}

figure {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.webkit-scroll { -webkit-overflow-scrolling : touch; }
.scrollY { overflow-y : auto; }
.scrollX { overflow-x : auto; }
/*************************************** End reset ***********************************************/





